* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #171100;
}

.btn {
  display: flex;
  padding: 0 16px;
  min-width: 144px;
  height: 50px;
  background: #171100;
  border-radius: 24.5px;
  justify-content: center;
  align-items: center;
}

/* Header */
.header {
  z-index: 1;
  padding: 36px 0 12px;
  background: #fffcf4;
}

.header.fix {
  position: sticky;
  top: -20px;
}

/* Navbar */
.navbar .body {
  display: flex;
}

.navbar ul {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar ul a {
  padding: 8px 21px;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  color: #5f5b53;
}

.navbar ul a:hover,
.navbar .active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.navbar li {
  position: relative;
}

.navbar .active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #171100;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  left: 21px;
  bottom: -6px;
}

.navbar .action {
  margin-left: 49px;
}

.navbar .action a {
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
}

.navbar .action-btn:hover {
  background-color: #282525;
}

/* Hero */
.hero {
  padding-top: 53px;
  background: #fffcf4;
}

.hero .main-content {
  display: flex;
  justify-content: space-between;
}

.hero .media-block {
  position: relative;
}

.hero .media-block .desc-img {
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .media-block .number {
  font-weight: 400;
  font-size: 1.4rem;
  color: #5f5b53;
}

.hero .media-block .course {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.hero .hero-sumary {
  position: absolute;
  padding: 24px 58px 24px 24px;
  border-radius: 12px;
  bottom: 48px;
  left: 300px;
  background: #ffffff;
}

.hero-sumary li {
  display: flex;
  margin-top: 22px;
}

.hero-sumary li:first-child {
  margin-top: 0;
}

.hero-sumary .circle {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin-right: 29px;
  border-radius: 50%;
}

.hero-sumary li:first-child .circle {
  background-color: #fff9e8;
}

.hero-sumary li:nth-child(2) .circle {
  background: #fcefff;
}

.hero-sumary li:last-child .circle {
  background: #ebeaff;
}

.hero-sumary .number {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
}

.hero-sumary .course-name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 30px;
  color: #171100;
}
