* {
  box-sizing: border-box;
}

:root {
  --font-heading: Sen, sans-serif;
  --primary-color: #ffb900;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.heading {
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  color: #130606;
}

.heading.lv1 {
  font-size: 5.8rem;
  line-height: 1.16;
}

.heading.lv2 {
  font-size: 3.8rem;
  line-height: 1.26;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
  color: #171100;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  min-width: 144px;
  line-height: 50px;
  background: #171100;
  border-radius: 999px;
  text-align: center;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.85;
}

p.desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #5f5b53;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  -webkit-line-clamp: 2;
}

.break-all {
  word-break: break-all;
}

/* Header */
.header {
  z-index: 1;
  padding: 36px 0 12px;
  background: #fffcf4;
}

.header.fix {
  position: sticky;
  top: -20px;
}

/* Navbar */
.navbar .body {
  display: flex;
}

.navbar ul {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navbar ul a {
  padding: 8px 21px;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  color: #5f5b53;
}

.navbar ul a:hover,
.navbar .active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.navbar li {
  position: relative;
}

.navbar .active::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #171100;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  left: 21px;
  bottom: -6px;
}

.navbar .action {
  margin-left: 49px;
}

.navbar .action a {
  font-weight: 600;
  font-size: 1.6rem;
  color: #ffffff;
}

/* Hero */
.hero {
  padding: 52px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

/* Hero left block */
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .desc-img {
  display: block;
  object-fit: cover;
  width: 470px;
  height: 685px;
  border-radius: 20px;
}

.hero .hero-sumary {
  width: 270px;
  padding: 24px;
  border-radius: 12px;
  position: absolute;
  bottom: 48px;
  left: 300px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.hero-sumary .item {
  display: flex;
  align-items: center;
}

.hero-sumary .item + .item {
  margin-top: 22px;
}

.hero-sumary .circle {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  border-radius: 50%;
}

.hero-sumary .item:first-child .circle {
  background-color: #fff9e8;
}

.hero-sumary .item:nth-child(2) .circle {
  background: #fcefff;
}

.hero-sumary .item:last-child .circle {
  background: #ebeaff;
}

.hero-sumary .label {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  color: #5f5b53;
}

.media-block .title {
  padding-right: 48px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

/* Hero right block */
.hero .content-block {
  width: 52%;
  margin: 64px 0 0 230px;
}

.content-block .desc {
  margin-top: 22px;
}

.content-block .cta-group {
  display: flex;
  margin: 38px 0 48px;
}

.content-block .hero-cta {
  min-width: 180px;
  line-height: 64px;
  padding: 0 33px;
  background: var(--primary-color);
  border-radius: 32px;
  font-weight: 600;
  font-size: 1.8rem;
  color: #ffffff;
}

.content-block .watch-video {
  margin-left: 28px;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
}

.watch-video .icon {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.watch-video span {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.content-block .stats {
  margin-top: 8px;
}

.content-block strong {
  padding: 0 9px 0 28px;
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: 700;
  font-size: 4.4rem;
  color: #171100;
}

.content-block p strong:first-of-type {
  padding-left: 0;
}

/* Popular */
/* Popular heading */
.popular .main-content {
  margin-top: 135px;
  padding: 65px 0;
}

.popular-top,
.popular .foot,
.courses-item .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular-top .info .desc {
  width: 458px;
  margin-top: 16px;
}

.popular .control {
  display: flex;
  align-items: center;
  gap: 18px;
}

.popular .control-btn {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: transparent;
}

.popular .control-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  transition: background-color 0.158s ease;
  cursor: pointer;
}

/* Popular list */
.popular .courses-list {
  margin-top: 55px;
  display: flex;
  flex: 1;
  gap: 30px;
}

.popular .courses-item {
  width: 100%;
  border: 1px solid #e2dfda;
  border-radius: 12px;
  background-color: #ffffff;
}

.popular .courses-item:hover {
  box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
  border-color: transparent;
}

.popular .thumb {
  width: 100%;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular .courses-item .info {
  margin: 16px 22px 22px 22px;
}

.popular .courses-item .title a {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.popular .rate {
  display: flex;
  align-items: center;
}

.popular .rate .value {
  margin-left: 6px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fea31b;
}

.popular .courses-item .desc {
  margin-top: 6px;
  font-size: 14px;
  line-height: 1.86;
  color: #5f5b53;
}

.popular .foot {
  margin-top: 12px;
}

.popular .price {
  font-weight: 600;
  font-size: 1.8rem;
  color: #171100;
}

.popular .courses-item .book-btn {
  padding: 0 20px;
  min-width: 118px;
  font-weight: 600;
  font-size: 1.4rem;
  color: #ffffff;
  border: none;
}

.popular .courses-item .book-btn:hover {
  background: #ffb900;
  transition: background-color 0.158s ease;
}

/* Feedback */
.feedback {
  margin-top: 135px;
  padding: 96px 0;
  background: #2e2100;
}

.feedback-list {
  display: flex;
  overflow: hidden;
}

.feedback-item {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.feedback .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .title {
  margin-top: 18px;
  font-family: var(--font-heading);
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  color: #f7f7f7;
}

.feedback .detail {
  margin-top: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  color: #bfbcb3;
}

.feedback .control-dot {
  display: flex;
  gap: 6px;
  margin-top: 28px;
}

.control-dot .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #634700;
  cursor: pointer;
}

.control-dot .dot.active {
  background: var(--primary-color);
  cursor: default;
}

.feedback .content {
  position: relative;
}

.feedback .icon {
  position: absolute;
  left: -30px;
  top: -28px;
}

.feedback blockquote {
  width: 740px;
  font-style: italic;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 1.54;
  color: #ffffff;
}

/* Features */
.features {
  margin-top: 135px;
  padding: 65px;
}

.features .body {
  display: flex;
  justify-content: space-between;
}

.features .img-group {
  display: flex;
  gap: 30px;
}

.features .image {
  width: 270px;
  height: 404px;
  object-fit: cover;
  border-radius: 16px;
}

.features .image:first-child {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features .desc {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.75;
}

.features .action-btn {
  margin-top: 32px;
  min-width: 137px;
  background-color: var(--primary-color);
  color: #ffffff;
}

/* Features block 2 */
.features.block-2 {
  margin-top: 70px;
}

.features.block-2 .body {
  flex-direction: row-reverse;
}

.features.block-2 .content {
  width: 49%;
}

.features.block-2 .image {
  margin-top: 0;
  width: 470px;
  height: 440px;
  border-radius: 20px;
  object-fit: cover;
}

/* Blog */
.blog {
  margin-top: 130px;
  padding: 96px 135px;
  background: #fffcf4;
}

.blog .body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog .desc {
  margin-top: 16px;
  width: 448px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696262;
  text-align: center;
}

.blog .list-block {
  display: flex;
  overflow: hidden;
}

.blog-list {
  width: 100%;
  margin-top: 55px;
  display: flex;
  gap: 30px;
  overflow: hidden;
}

.blog-item {
  flex-shrink: 0;
  width: calc(33.3% - 20px);
  border-radius: 16px;
  background-color: #ffffff;
}

.blog-item:hover {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-item .thumb {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.blog-item .info {
  margin: 20px 20px 28px 20px;
}

.blog-item .date-release {
  padding-bottom: 12px;
  display: inline-flex;
  position: relative;
  align-items: center;
  font-weight: 400;
  font-size: 1.4rem;
  color: #5f5b53;
}

.blog-item .date-release::before {
  content: "";
  display: inline-block;
  margin-right: 4px;
  background-color: var(--primary-color);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.blog-item .date-release::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1px;
  background: #e2dfda;
  border-radius: 0.5px;
  bottom: 0;
  left: 0;
  right: -27px;
}

.blog-item .title {
  margin-top: 12px;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #171100;
}

.blog-item .btn {
  margin-top: 12px;
  min-width: 118px;
  padding: 0 20px;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
}

.blog-item .btn:hover {
  background-color: var(--primary-color);
  transition: background-color 0.158s ease;
}

.blog .control-dot {
  margin-top: 38px;
  display: flex;
  gap: 6px;
}
